<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>ITI, New Capital, Egypt</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Track</h4>
                            <span>OpenSource App development</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-computer"></i>
                        <div class="cta-text">
                            <h4>ITI</h4>
                            <span>Intake 43</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="../../assets/images/123-removebg-preview.png" class="img-fluid" alt="logo"></a>
                            <div class="footer-text">
                                <p>A web development company is an organization that specializes in creating and maintaining websites for businesses and individuals.

                                    These companies employ teams of web developers, designers, and project managers who work together to build custom websites that meet the unique needs of their clients.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Github Links</h3>
                        </div>
                        <ul>
                                <div class="footer-social-icon">
                                <li ><a href="https://github.com/AhmeSamyyx" target="_blank"><i class="fab fa-github github-bg"> Ahmed Samy</i></a></li>
                                <li ><a href="https://github.com/THEPEACEMAKER" target="_blank"><i class="fab fa-github github-bg"> Adel Abdelatif</i></a></li>
                                <li ><a href="https://github.com/MohammedFarhoud" target="_blank"><i class="fab fa-github github-bg"> Mohamed Abdallah</i></a></li>
                                <li ><a href="https://github.com/MohamedOsama298" target="_blank"><i class="fab fa-github github-bg"> Mohamed Osama</i></a></li>
                            </div>
                            </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>About Us</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p style="font-size: large; color: antiquewhite;">ITI Fullstack web developers graduates who are willing to provide you with the best services and best websites</p>
                        </div>
                        <div class="subscribe-form">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, All Right Reserved <a href="https://codepen.io/anupkumar92/">OtripleA</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>