<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand home" href="#">Good Reads</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active smsmlink" aria-current="page" [routerLink]="['/home']"><span class="hover-underline-animation"> Home </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link smsmlink"routerLink="categories"><span class="hover-underline-animation"> Categories </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link smsmlink" routerLink="allbooks"><span class="hover-underline-animation"> Books </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link smsmlink" routerLink="authors"><span class="hover-underline-animation"> Authors</span></a>
          </li>
          <li class="nav-item" *ngIf="(currentUser | async)?.role === 'ADMIN'">
            <a class="nav-link smsmlink fancy" [routerLink]="['/admin']"><button class="admin">
              Admin
            </button></a>
          </li>
        </ul>
        <form class="d-flex me-auto" role="search" style="position: relative;">
          <input class="form-control me-2" type="search" [(ngModel)]="searchTerm" (keyup)="search()" placeholder="Search for a book..." aria-label="Search" name="search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          <div *ngIf="searchTerm" style="position: absolute; top: 50px; left: 0; width: 100%;">
            <ul class="list-group">
              <li *ngFor="let book of searchResults" class="list-group-item" [routerLink]="['/book', book._id]">{{ book.name }}</li>
            </ul>
          </div>
        </form>
        <ul class="navbar-nav  mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="signup" *ngIf="!(currentUser | async)">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login" *ngIf="!(currentUser | async)">Login</a>
            </li>
            <li class="nav-item" *ngIf="currentUser | async">
                <a class="nav-link usrFrst" >{{(currentUser | async)?.firstName}}</a>
              </li>
              <li class="nav-item" *ngIf="currentUser | async">
                <a class="nav-link" href="#"><img [src]="(currentUser | async)?.imageUrl"  class="img-fluid rounded-circle" alt="User Image"></a>
              </li>
            <li class="nav-item" *ngIf="currentUser | async">
              <a class="nav-link" (click)="logout()" routerLink="login"><button class="btn btn-light usrOut" (click)="logout()" routerLink="login">Logout</button></a>
            </li>
          </ul>
      </div>
    </div>
  </nav>