<div class="container">
    <h1>{{ category?.name }}</h1>
</div>
<app-books-container [books]="books"></app-books-container>
<div style="height:300px;" *ngIf="books.length === 0">
    <h3 style="text-align: center;">
        No Books Available in this category yet.
    </h3>
</div>

<div *ngIf="totalBooks" class="container mt-5 d-flex justify-content-center">
    <div class="pagination">
        <ngb-pagination [collectionSize]="totalBooks" [pageSize]="perPage" [(page)]="page" aria-label="Default pagination" (pageChange)="getBooksByCategory()"></ngb-pagination>
    </div>
</div>