
.button-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
    margin-bottom: 20px;
    
  }
  
  .button {
    padding: 10px 20px;
    background-color: white;
    /* background-color: none; */
    color: black;
    border: none;
    cursor: pointer;
    font-size: 25px;
  }
  
  /* .content-container {
    display: none;
  } */
  
  /* .content-container.ng-tns-c34-2 {
    display: block;
  } */
  
  .content {
    padding: 20px;
    /* border: 1px solid black; */
    margin-bottom: 20px;
  }
  
  .task{
    display: inline-block;
    padding: 10px 20px
  }

  /* .bigbody{
    height: 2000px;
  } */

  .selected{
    background-color: #f4f8f5;
    border-bottom: 2px solid red;
    color: red;
  }