<br>    
    <!-- Button to open the modal -->
    <button class="newbtn" (click)="addBookModal()">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
        </svg> Add Book
      </span>
    </button>

    <!-- Modal to add a new book -->
    <div class="modal fade" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel" aria-hidden="true" (hidden.bs.modal)="clearMessages()">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addBookModalLabel">{{ isEditingBook ? 'Edit Book' : 'Add Book' }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelEdit()"></button>
          </div>
          <div class="modal-body">
            <!-- Form fields here -->
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="book.name" name="name">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" id="description" [(ngModel)]="book.description" name="description"></textarea>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Upload Image</label>
              <input  type="file"
              id="img"
              (change)="onFileSelect($event)"
              placeholder="upload your image" class="form-control" accept="image/*" />
            </div>
            <div class="mb-3">
              <label for="category" class="form-label">Category</label>
              <select class="form-select" id="category" [(ngModel)]="book.category" name="category">
                <option *ngFor="let category of categories" [ngValue]="category._id" [selected]="category.name === book.category">{{ category.name }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="author" class="form-label">Author</label>
              <select class="form-select" id="author" [(ngModel)]="book.author" name="author">
                <option *ngFor="let author of authors" [ngValue]="author._id">{{ author.firstName }} {{ author.lastName }}</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelEdit()">{{ isEditingBook ? 'Cancel' : 'Close' }}</button>
            <button type="button" class="btn btn-primary" (click)="isEditingBook ? updateBook() : addBook()" [disabled]="!book.name || !book.description || !book.category || !book.author">{{ isEditingBook ? 'Save' : 'Add' }}</button>
            <div *ngIf="error" class="alert alert-danger">
              {{ error }}
            </div>
            <div *ngIf="success" class="alert alert-success">
              updated successfully
            </div>
          </div>
        </div>
      </div>
    </div>

    <main>
        <app-book-card class="task" *ngFor="let book of books" [book]="book"
        (delete)="deleteBook($event)" (edit)="editBook($event)"></app-book-card>
    </main>
<div *ngIf="totalBooks" class="d-flex flex-row justify-content-center mt-3">
  <ngb-pagination  [(page)]="currentPage" (pageChange)="getBooks()" [collectionSize]="totalBooks" [pageSize]="booksPerPage"></ngb-pagination>
</div>