.bigbody{
     /* background-color: rgb(230, 227, 227); */
     background-color: #22223b;
    color: #f2e9e4;
    font-family: Arial, sans-serif;
    position: relative;
    top: 0;
}

.adminHeader{
    background-image: url(../../assets/images/1727.jpg);
    background-size: cover;

}

.adminPar{
    /* position: relative;
    top: 50%; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    padding-top: 20%;
    font-size: 80px;
    color: white;
}

.mybtn{
    position: absolute;
    left: 45%;
    width: 140px;
    font-size: larger;
}


.book-style {
    position: relative;
    margin: 0 15px 25px;
  }

  .book-style img.book-item {
    /* background: #efeee8; */
    /* border: 1px solid #eae8df; */
    padding: 15%;
    cursor: pointer;
    width: 300px;
    height: 300px;
  }

  .popularbooks{
    /* background-color: rgb(0,0,0,0.5); */
    background-color: #4a4e69;
    height: 150px;
    align-items: center;
    font-size: 200px;
    font-style: italic;
    font-size: bold;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }


img{
    transition: transform 1s;
}
img:hover{
    transform: scale(1.05);
}

.catego{
  color: black;
  transition: transform 1s;
}
.catego:hover{
  transform: scale(1.05);
}

.auth{
  transition: transform 1s;
}
.auth:hover{
  transform: scale(1.05);
}


