<div class="bigbody" style="height: vh-100; background-color: #131722;">
<div class="container py-5" style="color: #fff; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <div class="row">
        <div class="col-md-4">
            <img class="w-100" [src]="book.imageUrl" style="height: 626px; width: 416px;">
        </div>
        <div class="col-md-8" style="margin-top: 50px;">
            <h3>{{book.name}}</h3>
            <p><i class="material-icons star-filled" style="color: gold;">star</i>{{book.avgRating}}</p>
            <p >{{book.description}}</p>

            <h4>category:</h4>
            <h4 style="border: 1px solid black;border-radius: 5px; background-color: blueviolet; width: fit-content; padding: 2px;"> {{book.category.name}}</h4>
            <h3 style="font-size: smaller;">Author : {{book.author.firstName}} {{book.author.lastName}}</h3>
            
        </div>
    </div>
</div>
<div class="d-flex flex-row justify-content-end w-100 p-5">
<button
class="btn btn-secondary col-2"
data-bs-toggle="modal"
data-bs-target="#addFormDrop"><i class="fa-solid fa-plus"></i> Add Review</button>
</div>

<div
  class="modal fade"
  id="addFormDrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addFormDropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addFormDropLabel">Add Review</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="addReviewForm.reset()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addReviewForm" (ngSubmit)="addReview()">
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Title..."
            formControlName="title"
          />
          <input
            type="text"
            class="form-control mb-2"
            formControlName="content"
            placeholder="Review..."
          />
          <button class="btn btn-primary ma" data-bs-dismiss="modal">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-reviews-container [bookId]="id" ></app-reviews-container>
</div>